body {
	overflow: hidden;
	width: 100vw;
}

.navbar {
	background-color: #d9d9d963;
	display: flex;
}

.container {
	height: 95vh;

	overflow: scroll;
}
.row {
	height: 90vh;
}

.card-container {
	height: 83vh;

	overflow: scroll;
}

.card-container div {
	margin: 1em 1em;
	cursor: pointer;
}

.execute {
	background-color: #d5e7b8;
}
.execute:hover {
	background-color: #dee4d5;
}

textarea {
	background-color: rgb(241, 241, 241);
	margin-top: 1em;
	height: 83vh;
	width: 100%;
	padding: 1em;
	border-radius: 0.5em;
	overflow: scroll;
}

.xt-card {
	border-radius: 0.5em;
}

.card-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

textarea::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
