/* body {
    overflow-y:hidden;
    width: 100vh;
} */

.card-container div {
	margin: 1em 1em;
	cursor: pointer;
}

.execute {
	background-color: #d5e7b8;
}
.execute:hover {
	background-color: #dee4d5;
}

textarea {
	background-color: rgb(241, 241, 241);
	margin-top: 1em;
	height: 90vh;
	width: 100%;
	padding: 1em;
    border-radius: 0.5em;
}

.xt-card{
    border-radius: 0.5em;
}